
#grayscale {
    background: linear-gradient( rgba(160, 160, 160, 0.45), rgba(160, 160, 160, 0.45) );
    width: 100%;
    color: #fff;
    font-size: 2em;

  }

  h1, h3 {
    font-size: 1.2em;
    text-align: center;
  }

  label {
    margin: 2%;
  }

#title-input{
  color: #000;
}
