<!-- HEADER -->

<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('assets/images/demo/backgrounds/study-group.jpg');">
  <!-- ################################################################################################ -->
  <div class="wrapper overlay">
    <header id="header" class="hoc clear">

      <nav id="mainav" class="clear">
        <ul class="clear">
          <li class="active"><a [routerLink]="['']">School Dojo</a></li>
          <li><a [routerLink]="['signin']">Log In</a></li>
          <li><a [routerLink]="['signin']">Sign Up</a></li>
          <li><a href="#learn">Learn More</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li> <a [routerLink]="['about']"> About </a> </li>
        </ul>
      </nav>

      <div id="logo">
        <h1><a href="index.html">School Dojo</a></h1>
        <h3>Bringing schools closer together</h3>
      </div>

    </header>
  </div>


<router-outlet></router-outlet>

<!-- FOOTER  -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">

    <div class="one_half first">
      <h4 class="title">School Dojo</h4>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          121 SW 8th Street, Miami, Florida 33130
          </address>
        </li>
        <li><i class="fa fa-phone"></i>(305) 555 5555
        <li><i class="fa fa-fax"></i>  (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@schooldojo.com</li>
      </ul>
    </div>

    <div class="one_half">
      <h4 class="title">Contact Us</h4>
      <p class="btmspace-30">Want to use School Dojo? <br>Tell more about your school!</p>
      <form id="contact">
        <fieldset>
          <legend>Want to use School Dojo? Contact us:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <textarea class="btmspace-15" type="text" rows="6" placeholder="Tell us about your school.">
          </textarea>
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>


  </footer>
</div>

<!-- COPYRIGHT AND CREDIT INFO  -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">SchoolDojo</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <p class="fl_left"> Icons by: singer by Gan Khoon Lay, high five by Vectors Market, and Award by Ralf Schmitzer from the Noun Project</p>
    <p class="fl_left"> ALL Cartoon Icons by: <a target="_blank" href="http://www.classdojo.com/">Class Dojo</a></p> <br>
    <p class="fl_right"> Disclaimer: This is not a real company and is used for learning purposes only.</p>
  </div>
</div>
