.error {
  color:crimson;
  border: 3px solid crimson;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
}

.success {
  color:#37A444;
  border: 3px solid #37A444;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
}


.post{
  width: 25%;
}


.link{
  background:none!important;
  border:none;
  padding:0!important;
  cursor:pointer;
  text-decoration: underline;
  color:#82A800;
  font-size: larger;
  float: right;
}

.postHeader{
  margin: 5% 0;
  padding-top: 5%;
  text-align: center;
  clear: right;
  border-left: 3px solid #82A800;

}

.countDown{
  margin: 5% 0;
  padding-top: 5%;
  clear: right;
}

.article{
  /*background-color: #f2f2f2;*/
  background-color: #ededed;
  padding: 3%;
  border-radius: 5px;
}


/*#sideBar{
    position: fixed;
    width: 11%;
    bottom: 2%;
    margin-top: 300px;
}

#mainFeed{
  position: relative;
  margin-left: 25%

}*/
