<html>
<head>
<title>School Dojo | DashBoard </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/assets/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>


<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->

    <!-- SideBar -->
    <div class="sidebar one_quarter first">
      <h6>School Dojo</h6>
      <nav class="sdb_holder">
          <ul class="nospace clear">
            <li class="three_quarter first">MAIN STREET ELEMENTARY SCHOOL<img src="assets/images/demo/gallery/school.png" alt="school"></li>
            <br>
            <li class="three_quarter first">MY CLASS<a [routerLink]="['class']"><img src="assets/images/demo/gallery/students.png" alt="students"></a></li>
            <br>
            <li class="three_quarter first">TEAMS<a href="#"><img src="assets/images/demo/gallery/rocket.png" alt="rocket"></a></li>
            <br>
            <li class="three_quarter first">MESSAGES<a href="#"><img src="assets/images/demo/gallery/book.png" alt="book"></a></li>
          </ul>
          <button class="btn logout" (click)="logOut()"> Log Out </button>
      </nav>
    </div> <!-- END SideBar -->



    <!-- Main Feed/Post Section -->
    <div class="content three_quarter">
      <div id="comments">

        <h1>Team News</h1>
        <h2> Welcome, {{currentUser.title}} {{currentUser.lastName}} !</h2>

        <!-- Error Messages -->
        <p *ngIf="saveError" class="error">{{saveError}}</p>
        <p *ngIf="saveSuccessful" class="success">{{saveSuccessful}}</p>

        <!-- New Post Form -->
        <form (ngSubmit)="createPost()">
          <div class="block clear">
            <label for="comment">New Post</label>
            <textarea name="comment" id="comment" cols="25" rows="5"
            placeholder="What's happening in class today?"
            [(ngModel)]="postContent" name="posttext"></textarea>

            <label for="post-picture-input">Add a Photo:</label>
            <input id="post-picture-input" type="file"
             ng2FileSelect [uploader]="fileUpload" name="postPhoto">
             <!--must always be ng2FileSelect[uploader]="variableName"  -->
          </div>
          <div>
            <input type="submit" name="submit" value="Submit Post">
            &nbsp;
            <input type="reset" name="reset" value="Cancel">
          </div>
        </form>

        <!-- Recent Post Section -->
         <h2>Recent Posts</h2>
          <ul>
            <!-- this.teamProgress = this.currentUser.class.teamworkPoints; -->
          <li *ngFor="let post of postList; let i = index">
            <article *ngIf="post.ownerId.team !== currentUser.team">
              <header>
                <figure class="avatar"><img src="assets/images/demo/new_logo.png" alt=""></figure>
                <address>
                By <a href="#" *ngIf="post.ownerId !== currentUser._id">{{post.ownerId.title}}{{post.ownerId.lastName}}</a>
                   <a href="#"*ngIf="post.ownerId === currentUser._id">ME</a>
                </address>
                <!-- <time datetime="{{post.createdAt}}"></time> -->
              </header>
              <div class="comcont">
                <p>{{post.time}}</p>
                <img *ngIf= "post.photo" [src]=" 'http://localhost:3000' + post.photo" alt="postphoto">
                <p>{{post.content}}</p>
                <p *ngIf="likes[i] > 0"> {{likes[i]}} Likes <img src="assets/images/thumbsup.png" alt="thumbsup"></p>
              </div>
              <button class="btn post" (click)="addLikes(i, post._id)">Like</button>
              <button class="btn post" (click)="addCommentBox()">Comment</button>
            </article>

              <!-- Toggle with "addCommentBox()" -->
            <!-- <div class="one_quarter first">
              <form>
                <fieldset>
                  <textarea class="btmspace-15" type="text" rows="3" placeholder="Wow! Great Job!">
                  </textarea>
                  <button type="submit" class="btn" value="submit">Submit</button>
                </fieldset>
              </form>
            </div> -->
          </li>
          <!-- <li>
            <article>
              <header>
                <figure class="avatar"><img src="assets/images/demo/avatar.png" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li> -->
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
<!-- IE9 Placeholder Support -->
<script src="../layout/scripts/jquery.placeholder.min.js"></script>
