
<div id="pageintro" class="hoc clear">

  <article>
    <div class="introtxt">

      <h2 class="heading">Happier Schools</h2>
      <h4>The simple way to build amazing school communities. <br>Celebrating success and promoting positivity, one accomplishment at a time.</h4>
    </div>
    <footer>
      <ul class="nospace inline pushright">
        <li><a class="btn" [routerLink]="['signin']">Sign Up</a></li>
        <li><a class="btn" [routerLink]="['signin']">Log In</a></li>
      </ul>
    </footer>
  </article>

</div> <!--End <div id="pageintro">  -->


<div class="wrapper row3">
<section class="hoc container clear">

  <div class="center btmspace-50">
    <h1 id="learn"class="heading">Create a positive school culture</h1>
  </div>

  <ul class="nospace elements">

    <li class="one_third first">
      <article><img class="thumbnail" src="assets/images/demo/student5.png" alt="highfive">
        <div class="txtwrap">
          <h6 class="heading">Share a digital high five!</h6>
          <br>
          <p> Earn points for your team to help students encourage each other and make good choices.</p>

        </div>
      </article>
    </li>

    <li class="one_third">
      <article><img class="thumbnail" src="assets/images/demo/studentvoice.png" alt="voice">
        <div class="txtwrap">
          <h6 class="heading">Give Students a Voice</h6>
          <br>
          <p>Students can share their learning and achievements School wide.</p>
        </div>
      </article>
    </li>

    <li class="one_third">
      <article><img class="thumbnail" src="assets/images/demo/studentsuccess.png" alt="award">
        <div class="txtwrap">
          <h6 class="heading">Show off to Parents</h6>
          <br>
          <p>Parents can get involved by celebrating student success and sharing those important moments.</p>
        </div>
      </article>
    </li>

  </ul>

</section>
</div> <!--End <div class="wrapper row3">  -->


<div class="bgded overlay">
<section id="testimonials" class="hoc container clear">

  <div class="center btmspace-50">
    <h1 class="heading">See what people are saying about us!</h1>
  </div>

  <ul class="nospace group">

    <li class="one_half first left">
      <div class="clear"><img src="assets/images/smile.png" alt=""> <span class="block"><strong>John Brown</strong> / <em>Waco, Texas</em></span>
        <blockquote>Now the whole school can feel involved and a part of the team no matter what age or grade!</blockquote>
      </div>
    </li>

    <li class="one_half right">
      <div class="clear"><img src="assets/images/smile.png" alt=""> <span class="block"><strong>Jane Doe</strong> / <em>Detroit, Michigan</em></span>
        <blockquote>Game changer for me in terms of communication and encouraging of skills at school!</blockquote>
      </div>
    </li>

  </ul>

</section>
</div> <!-- END <div class="bgded overlay"> -->


<div class="wrapper coloured">
<div class="hoc clear">

  <figure id="logos">
    <ul class="nospace group">
      <li><a href="#"><img src="assets/images/computer.png" alt=""></a></li>
      <li><a href="#"><img src="assets/images/calendar.png" alt=""></a></li>
      <li><a href="#"><img src="assets/images/phone.png" alt=""></a></li>
      <li><a href="#"><img src="assets/images/thumbsup.png" alt=""></a></li>
      <li><a href="#"><img src="assets/images/reading.png" alt=""></a></li>
    </ul>
    <figcaption class="hidden"><a class="btn small" href="#">More &raquo;</a></figcaption>
  </figure>

</div> <!-- <div class="hoc clear"> -->
</div><!-- <div class="wrapper coloured"> -->
