
<div id="pageintro" class="hoc clear">
  <!-- ################################################################################################ -->
  <article>
    <div class="introtxt">

      <h2 class="heading">Happier Schools</h2>
      <h4>The simple way to build amazing school communities. <br>Celebrating success and promoting positivity, one accomplishment at a time.</h4>
    </div>
    <footer>
      <ul class="nospace inline pushright">
        <li><a class="btn" [routerLink]="['signin']">Sign Up</a></li>
        <li><a class="btn" [routerLink]="['signin']">Sign In</a></li>
      </ul>
    </footer>
  </article>
  <!-- ################################################################################################ -->
</div>
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ --><!-- ################################################################################################ -->
<div class="wrapper row3">
<section class="hoc container clear">
  <!-- ################################################################################################ -->
  <div class="center btmspace-50">
    <h1 class="heading">Create a positive school culture</h1>
    <!-- <p>Fringilla nisi ut arcu facilisis gravida nullam bibendum nisi risus id viverra felis pharetra eu donec ut lorem risus nullam iaculis lacinia massa et accumsan urna laoreet fermentum etiam ipsum enim bibendum id varius.</p> -->
  </div>
  <ul class="nospace elements">
    <li class="one_third first">
      <article><a href="#"><img src="assets/images/demo/highfive.svg" alt=""></a>
        <div class="txtwrap">
          <h6 class="heading">Share a digital high five!</h6>
          <br>
          <p> Earn points for your team to help students encourage each other and make good choices.</p>

        </div>
      </article>
    </li>
    <li class="one_third">
      <article><a href="#"><img src="assets/images/demo/voice.svg" alt=""></a>
        <div class="txtwrap">
          <h6 class="heading">Give Students a Voice</h6>
          <br>
          <p>Students can share their learning and achievements School wide.</p>
        </div>
      </article>
    </li>
    <li class="one_third">
      <article><a href="#"><img src="assets/images/demo/award.svg" alt=""></a>
        <div class="txtwrap">
          <h6 class="heading">Show off to Parents</h6>
          <br>
          <p>Parents can get involved by celebrating student success and sharing those important moments.</p>
        </div>
      </article>
    </li>
  </ul>
  <!-- ################################################################################################ -->
</section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('assets/images/demo/backgrounds/01.png');">
<section id="testimonials" class="hoc container clear">
  <!-- ################################################################################################ -->
  <div class="center btmspace-50">
    <h2 class="heading">Etiam proin porta interdum</h2>
    <p>Purus vestibulum ante ipsum primis in faucibus orci luctus turpis ullamcorper dolor gravida ut laoreet arcu finibus praesent tincidunt nulla id augue hendrerit ac eleifend turpis tempor suspendisse fringilla massa nec laoreet.</p>
  </div>
  <ul class="nospace group">
    <li class="one_half first">
      <div class="clear"><img src="assets/images/demo/80x80.png" alt=""> <span class="block"><strong>A.Doe</strong> / <em>Position, Company Name</em></span>
        <blockquote>Ornare sed nec sagittis nisi nulla nec aliquam mi interdum et malesuada fames&hellip;</blockquote>
      </div>
    </li>
    <li class="one_half">
      <div class="clear"><img src="assets/images/demo/80x80.png" alt=""> <span class="block"><strong>B.Doe</strong> / <em>Position, Company Name</em></span>
        <blockquote>Ac ante ipsum primis in faucibus curabitur cursus est nec turpis posuere aliquet&hellip;</blockquote>
      </div>
    </li>
  </ul>
  <!-- ################################################################################################ -->
</section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper coloured">
<div class="hoc clear">
  <!-- ################################################################################################ -->
  <figure id="logos">
    <ul class="nospace group">
      <li><a href="#"><img src="assets/images/demo/logo.png" alt=""></a></li>
      <li><a href="#"><img src="assets/images/demo/logo.png" alt=""></a></li>
      <li><a href="#"><img src="assets/images/demo/logo.png" alt=""></a></li>
      <li><a href="#"><img src="assets/images/demo/logo.png" alt=""></a></li>
      <li><a href="#"><img src="assets/images/demo/logo.png" alt=""></a></li>
    </ul>
    <figcaption class="hidden"><a class="btn small" href="#">More &raquo;</a></figcaption>
  </figure>
  <!-- ################################################################################################ -->
</div>
</div>
