
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->

    <!-- SideBar -->
    <div class="sidebar one_quarter first">
      <h6>School Dojo</h6>
      <nav class="sdb_holder">
          <ul class="nospace clear">
            <li class="three_quarter first"><a href="#">MAIN STREET ELEMENTARY SCHOOL<img src="assets/images/demo/gallery/school.png" alt=""></a></li>
            <br>
            <li class="three_quarter first"><a [routerLink]="['/dashboard']">DASHBOARD<img src="assets/images/list.png" alt=""></a></li>
            <br>
            <li class="three_quarter first"><a href="#">TEAMS<img src="assets/images/demo/gallery/rocket.png" alt=""></a></li>
            <br>
            <li class="three_quarter first"><a href="#">MESSAGES<img src="assets/images/demo/gallery/book.png" alt=""></a></li>
          </ul>
          <button class="btn" (click)="logOut()"> Log Out </button>
      </nav>
    </div>


    <!-- PROGRESS BARS Section -->
    <div class="content three_quarter">

      <label for="team-total-bar"> TEAM TOTAL</label>
      <div class="progress">
       <div class="progress-bar progress-bar progress-bar-striped active"
        style="min-width: 5em;" role="progressbar" [ngStyle]="{width: teamTotal + '%'}">

       </div>
      </div>

    <label for="team-total-bar"> TEAMWORK</label>
    <div class="progress">
     <div class="progress-bar progress-bar-success progress-bar-striped active"
      role="progressbar" style="min-width: 5em;" [ngStyle]="{width: teamProgress + '%'}">
     </div>
    </div>

    <label for="team-total-bar"> GOOD GRADES</label>
    <div class="progress">
      <div class="progress-bar progress-bar-warning progress-bar-striped active"
       role="progressbar" style="min-width: 5em;" [ngStyle]="{width: gradesProgress + '%'}">
      </div>
    </div>

    <label for="team-total-bar"> BEING PREPARED</label>
    <div class="progress">
      <div class="progress-bar progress-bar-danger progress-bar-striped active"
       role="progressbar" style="min-width: 5em;" [ngStyle]="{width: prepProgress + '%'}">
      </div>
    </div>

    <label for="team-total-bar"> iREADY</label>
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped active"
       role="progressbar" style="min-width: 5em;" [ngStyle]="{width: readProgress + '%'}">
      </div>
    </div>

      <!-- Points "Buttons"  -->
      <ul class="nospace clear">
        <h1>Click an icon below to add points for a cateogry:</h1>
        <li class="one_quarter first"><img src="assets/images/teamwork.png" alt="team" (click)="addTeamPoints(currentUser.class._id)">TEAMWORK </li>

        <li class="one_quarter"><img src="assets/images/goodgrades.png" alt="award" (click)="addGradePoints()"><br>GOOD GRADES</li>

        <li class="one_quarter"><img src="assets/images/supplies.png" alt="backpack" (click)="addPrepPoints()"><br>BEING PREPARED</li>

        <li class="one_quarter"><img src="assets/images/reading.png" alt="book" (click)="addReadPoints()"> <br>iREADY</li>
      </ul>


      <div class="students">
        <h1> {{currentUser.title}} {{currentUser.lastName}}'s Students:</h1>

        <div class="col-xs-6 col-md-3" *ngFor="let student of studentList; let i = index">
          <div class="thumbnail">
            <img src="{{student.picture}}" alt="studentPhoto">
            <div class="caption">
              <h3>{{student.name}}</h3>
          </div>
        </div>
      </div>
    </div>

    </div><!-- END class="content three_quarter" -->

  <!-- <div class="clear"></div> -->
  </main>
</div>
